footer {
    width: 100%;
    background-color: #36034b;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75rem 1rem;
    box-sizing: border-box;
    text-align: center;
    flex-shrink: 0;
}
   


