.logo {
   
    border: .1rem rgb(105, 105, 185) solid; /*borda*/
    background-color: rgb(52, 52, 87); /*cor de fundo*/
    width: 1rem;
    height: 1rem;
    color: #eee;
    font-weight: bold; /*fonte em negrito*/
    border-radius: 100%;
    padding: .7rem; /*afasta o conteúdo da borda*/
    display: flex; /*caixas flexivéis*/
    justify-content: center; /*centro do eixo x*/
    align-items: center; /*centro do eixo y*/ /*alinhamento dos itens dentro de cada caixa*/
    align-content: center; /*centro do eixo y*/
    margin-right: .7rem; /*margem da direita*/
}
