nav {
    /* border: .1rem solid orangered; */
    background-color: #eee;
    padding: 0.5rem;
    width: 15rem;
}

a {
    text-decoration: none;
}

li {  margin-top: 1rem;


}

.opcao {
display: flex;
border-radius: 0.5rem;
padding: 0.6rem;
background-color: #eee;
color: #5e5e5e;

}

.opcao:hover {

    background-color: #ccc;
    color:black;
    box-shadow: .3rem .3rem .3rem .3rem #ddd;
    border: 1rem solid #3f3b3b;

  
}

.opcao:hover.rotulo {
    text-align: right;
}

.opcao:hover .icone-final {
    opacity:1; 

}

.icone-inicial{
    width: 1.5rem;
}
.rotulo {
    flex: 1;
}

.icone-final{
    width: 1rem;
    text-align: right;
    opacity: 0;
    transition: opacity 0.3 ease-in;
}
